_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
_posts
.bundle
third_party
_DATA
datasets/
test_scripts/
logs/
annotations/
wandb/
videos/
outputs/
configs/smpl_models/mano/
configs/smpl_models/smplx/
*.egg-info/
*.egg

__pycache__/