pytransform3d
h5py
plotly
open3d
imageio
imageio[ffmpeg]
ipykernel 
diffusers 
openai
ruptures
dex_retargeting
pyquaternion 
pyyaml 
rospkg 
pexpect 
dm_control==1.0.14 
einops 
packaging 
ipython 
wandb
transformers==4.48.0
numpy==1.26.4
supervision==0.22.0